In [ ]:
# Variabel

a = 2 # Integer / Bilangan Bulat
hewan = "Gajah" # String
# Untuk yang dasar nya tidak ada yang namanya Char
b = 'A' # String
c = True # Boolean
d = False # Boolean
e = 2.0 # Float
f = [] # List / Array
g = {} # Dictionary
h = () # Tuple

In [ ]:
# Print
print (hewan)
print ("singa")
print (2)
print (2+3)
print (True)

Gajah
singa
2
5
True

In [1]:
Nama_Siswa = ["Rizal", "Rhesa", "Aufa", "Juven"]
nama = ["Juven"] * 4
# for i in range(1, 3):
  # print(Nama_Siswa[i])
# Nama_Siswa[0:2] #Nama_Siswa[-2]
# nama[0:5]
nama.append(2)
# nama[-3:]
Nama_Siswa[0:3]

['Rizal', 'Rhesa', 'Aufa']